/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  margin: 0px;
}

body {
  background-color: #F7F7F7 !important;
  height: 100%;
}

.dummy-container-red {
  border: 1px solid red;
}

.dummy-container-green {
  border: 1px solid green;
}

::-webkit-scrollbar {
  /* display: none; */
}

button{
  cursor: pointer;
}
