<div class="container-fluid chat-window-container h-100">

  <div class="row m-0 h-100 row-container">
    <!--Section one :: started-->
    <div class="col-md-3 section-one color-white h-100 p-0 section">

      <div class="header-container">
        <p class="header-text">My Consultaions</p>
        <div class="color-white d-inline">
          <i class="fa fa-bars fa-icon" aria-hidden="true"></i>
        </div>
      </div>


      <div class="content-row button-container">
        <button (click)="StartANewConsultation()">START A NEW CONSULTATION</button>
      </div>

      <div class="content-row profile-container">

        <div class="profile-lists">

          <div class="row sideBar-body" *ngFor="let doctor of doctorList" [ngClass]="{activeDoctor: doctor.name == currentActiveDoctorName  }">
            <div class="col-sm-1 col-xs-1 sideBar-avatar">
              <div class="avatar-icon">
                <img src="./../../assets/images/docter_color.png">
              </div>
            </div>
            <div class="col-sm-11 col-xs-11 sideBar-main">

              <div class="row">
                <div class="col-sm-8 col-xs-8 sideBar-name">
                  <div class="name-meta">{{doctor.name}}</div>
                </div>
                <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                  <span class="time-meta pull-right">{{doctor.time | chatTimeIndicator}}
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-xs-12 sideBar-designation">
                  <span>{{doctor.designation}}</span>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-xs-12 sideBar-message">
                  <div>{{doctor.shortMessage}}</div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Section one :: END-->

    <!--Section two :: started-->
    <div class="col-md-6 section-two color-white h-100 p-0 section">

      <!-- header container : start-->
      <div class="header-container">
        <div class="row m-0">
          <div class="col-sm-1 col-xs-1 sideBar-avatar">
            <div class="avatar-icon-sm">
              <img src="./../../assets/images/docter_color.png">
            </div>
          </div>
          <div class="col-md-10 p-0">
            <p class="header-text">{{currentActiveDoctorName}}</p>
          </div>
          <div class="col-md-1 pull-right">
            <i class="fa fa-ellipsis-v fa-icon" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <!-- header container : end-->


      <div class="chat-window-main-container">
        <div class="chat-messages-container">

          <div class="row m-0 message-container" *ngFor="let message of currentActiveMessageList">

            <div class="message-template-1" *ngIf=" message.template == 'TEMPLATE_1' ">
              <p class="m-0">Your chat consultation details will remain confendintial.</p>
            </div>

            <div class="col-md-12 p-0" *ngIf=" message.template == 'TEMPLATE_2' ">
              <div class="row m-0">
                <div class="col-md-6">
                  <p class="d-none">To take some space</p>
                </div>
                <div class="col-md-5 p-0">
                  <div class="text-message">
                    <p>select one option {{d}}</p>
                    <div class="message-button-group">
                      <button>My self</button>
                      <button>Some One else</button>
                    </div>
                    <p class="text-message-time m-0">10:41 pm</p>
                  </div>
                </div>

                <div class="col-sm-1 col-xs-1 p-0">
                  <div class="avatar-icon-sm">
                    <img src="./../../assets/images/docter_color.png">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 p-0" *ngIf="false">

              <div class="row m-0">
                <div class="col-sm-1 col-xs-1 p-0">
                  <div class="avatar-icon-sm">
                    <img src="./../../assets/images/docter_color.png">
                  </div>
                </div>

                <div class="col-md-9 p-0">
                  <div class="text-message">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five centuries, but also the leap into electronic typesetting, remaining essentially
                    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                    Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.
                    <br />
                    <p class="text-message-time m-0">10:41 pm</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 p-0" *ngIf="false">
              <div class="row m-0">
                <div class="col-md-2">
                  <p class="d-none">To take some space</p>
                </div>
                <div class="col-md-9 p-0">
                  <div class="text-message">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five centuries, but also the leap into electronic typesetting, remaining essentially
                    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                    Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.
                    <br />
                    <p class="text-message-time m-0">10:41 pm</p>
                  </div>
                </div>

                <div class="col-sm-1 col-xs-1 p-0">
                  <div class="avatar-icon-sm">
                    <img src="./../../assets/images/docter_color.png">
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-12 p-0" *ngIf="false">
              <div class="row m-0">
                <div class="col-md-6">
                  <p class="d-none">To take some space</p>
                </div>
                <div class="col-md-5 p-0">
                  <div class="text-message">
                    <p>Please Enter your name {{d}}</p>
                    <div class="message-input-group">
                      <input type="text" class="" placeholder="name" />
                      <button>SUBMIT</button>
                    </div>
                    <p class="text-message-time m-0">10:41 pm</p>
                  </div>
                </div>

                <div class="col-sm-1 col-xs-1 p-0">
                  <div class="avatar-icon-sm">
                    <img src="./../../assets/images/docter_color.png">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 p-0" *ngIf="false">
              <div class="row m-0">
                <div class="col-md-6">
                  <p class="d-none">To take some space</p>
                </div>
                <div class="col-md-5 p-0">
                  <div class="text-message">
                    <p>Please Enter your name {{d}}</p>
                    <div class="message-input-group">
                      <select>
                        <option hidden>select one</option>
                        <option>General Physician</option>
                        <option>Gynaecologist</option>
                        <option>Paediatrician</option>
                        <option>cardiologist</option>
                      </select>
                      <button>SUBMIT</button>
                    </div>
                    <p class="text-message-time m-0">10:41 pm</p>
                  </div>
                </div>

                <div class="col-sm-1 col-xs-1 p-0">
                  <div class="avatar-icon-sm">
                    <img src="./../../assets/images/docter_color.png">
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-12 p-0" *ngIf="false">
              <div class="row m-0">
                <div class="col-md-6">
                  <p class="d-none">To take some space</p>
                </div>
                <div class="col-md-5 p-0">
                  <div class="text-message">
                    <p>Describe symptomps {{d}}</p>
                    <div class="message-input-group">
                      <textarea type="text" class="" placeholder="symptomps"></textarea>
                      <button>SUBMIT</button>
                    </div>
                    <p class="text-message-time m-0">10:41 pm</p>
                  </div>
                </div>

                <div class="col-sm-1 col-xs-1 p-0">
                  <div class="avatar-icon-sm">
                    <img src="./../../assets/images/docter_color.png">
                  </div>
                </div>
              </div>
            </div>




          </div>
        </div>
      </div>

      <!-- Reply Box -->
      <div class="row reply" *ngIf="showReplyBox">
        <div class="col-sm-11 col-xs-11 reply-main">
          <textarea class="form-control" rows="1" id="comment" placeholder="Enter your message here"></textarea>
        </div>
        <div class="col-sm-1 col-xs-1 reply-send">
          <i class="fa fa-send fa-2x" aria-hidden="true"></i>
        </div>
      </div>
      <!-- Reply Box End -->



    </div>
    <!--Section two :: END-->

    <!--Section two :: started-->
    <div class="col-md-3 section-three color-white h-100 p-0 section">
      <div class="header-container">
        <p class="header-text">Details</p>
        <div class="color-white d-inline">
          <i class="fa fa-power-off fa-icon" aria-hidden="false" (click)="logOut()">&nbsp;LOGOUT</i>
        </div>
      </div>


    </div>
    <!--Section two :: END-->



  </div>

</div>
