<div class="container-fluid chat-window-container h-100">

  <div class="row m-0 h-100 row-container">
    <!--Section one :: started-->
    <div class="col-md-3 section-one color-white h-100 p-0 section">

      <div class="header-container">
        <p class="header-text">My Consultaions</p>
        <div class="color-white d-inline">
          <i class="fa fa-bars fa-icon" aria-hidden="true"></i>
        </div>
      </div>


      <div class="content-row button-container">
        <button (click)="StartANewConsultation()">START A NEW CONSULTATION</button>
      </div>

      <div class="content-row profile-container">

        <div class="profile-lists">

          <div class="row sideBar-body" *ngFor="let doctor of doctorList" [ngClass]="{activeDoctor: doctor.name == currentActiveDoctorName  }"
            (click)="OnSelectDoctor(doctor)">
            <div class="col-sm-1 col-xs-1 sideBar-avatar">
              <div class="avatar-icon">
                <img src="./../../assets/images/docter_color.png">
              </div>
            </div>
            <div class="col-sm-11 col-xs-11 sideBar-main">

              <div class="row">
                <div class="col-sm-8 col-xs-8 sideBar-name">
                  <div class="name-meta">{{doctor.name}}</div>
                </div>
                <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                  <span class="time-meta pull-right overflow-el">{{doctor.time | chatTimeIndicator}}
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-xs-12 sideBar-designation">
                  <span class="overflow-el">{{globalMessages[doctor.name].designation}}</span>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-xs-12 sideBar-message">
                  <div>{{doctor.shortMessage}}</div>
                  <span class="text-small-typing" *ngIf="globalMessages[doctor.name]?.typing">typing...</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Section one :: END-->

    <!--Section two :: started-->
    <div class="col-md-6 section-two color-white h-100 p-0 section">

      <!-- header container : start-->
      <div class="header-container">
        <div class="row m-0">
          <div class="col-sm-1 col-xs-1 sideBar-avatar">
            <div class="avatar-icon-sm">
              <img src="./../../assets/images/docter_color.png">
            </div>
          </div>
          <div class="col-md-10 p-0">

            <p class="header-text">{{currentActiveDoctorName}} <span class="text-small-typing" *ngIf="globalMessages[currentActiveDoctorName]?.typing">typing...</span></p>

          </div>
          <div class="col-md-1 pull-right">
            <i class="fa fa-ellipsis-v fa-icon" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <!-- header container : end-->


      <div class="chat-window-main-container" [ngClass]="{'chat-window-main-container-no-replybox': !showReplyBox}">

        <div class="chat-messages-container" #chatMessageContainer (scroll)="onScroll()">


          <div class="row m-0 message-container" *ngFor="let message of currentActiveMessageList">

            <div class="message-template-1" *ngIf=" message.template == 'TEMPLATE_1' ">
              <p class="m-0">Your chat consultation details will remain confendintial.</p>
            </div>

            <div class="col-md-12 p-0" *ngIf=" message.template == 'TEMPLATE_2' " [ngClass]="{'disabled-input': message.oldMessage}">
              <div class="row m-0">
                <div class="col-md-6">
                  <p class="d-none">To take some space</p>
                </div>
                <div class="col-md-5 p-0">
                  <div class="text-message">
                    <p>select one option</p>
                    <div class="message-button-group">
                      <button (click)="!message.oldMessage && setAnswer(message,'self') && OnAnswerSelected(message)"
                        [ngClass]="{selectedButton: message.answer == 'self' }">My
                        self</button>
                      <button (click)="!message.oldMessage && setAnswer(message,'some_one_else') && OnAnswerSelected(message)"
                        [ngClass]="{selectedButton: message.answer == 'some_one_else' }">Some
                        One else</button>
                    </div>
                    <p class="text-message-time m-0">{{message.createdDate | chatTimeIndicator}}</p>
                  </div>
                </div>

                <div class="col-sm-1 col-xs-1 p-0">
                  <div class="avatar-icon-sm">
                    <img src="./../../assets/images/docter_color.png">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 p-0" *ngIf=" message.template == 'TEMPLATE_3' " [ngClass]="{'disabled-input': message.oldMessage}">
              <div class="row m-0">
                <div class="col-md-6">
                  <p class="d-none">To take some space</p>
                </div>
                <div class="col-md-5 p-0">
                  <div class="text-message">
                    <p>Please Enter patient name</p>
                    <div class="message-input-group">
                      <input type="text" class="" placeholder="name" [(ngModel)]="message.answer" [readonly]="message.oldMessage" />
                      <button (click)="!message.oldMessage && OnAnswerSelected(message)">SUBMIT</button>
                    </div>
                    <p class="text-message-time m-0">{{message.createdDate | chatTimeIndicator}}</p>
                  </div>
                </div>

                <div class="col-sm-1 col-xs-1 p-0">
                  <div class="avatar-icon-sm">
                    <img src="./../../assets/images/docter_color.png">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 p-0" *ngIf=" message.template == 'TEMPLATE_4' " [ngClass]="{'disabled-input': message.oldMessage}">
              <div class="row m-0">
                <div class="col-md-6">
                  <p class="d-none">To take some space</p>
                </div>
                <div class="col-md-5 p-0">
                  <div class="text-message">
                    <p>Describe symptomps</p>
                    <div class="message-input-group">
                      <textarea type="text" class="" placeholder="symptomps" [(ngModel)]="message.answer" [readonly]="message.oldMessage"></textarea>
                      <button (click)="!message.oldMessage && OnAnswerSelected(message)">SUBMIT</button>
                    </div>
                    <p class="text-message-time m-0">{{message.createdDate | chatTimeIndicator}}</p>
                  </div>
                </div>

                <div class="col-sm-1 col-xs-1 p-0">
                  <div class="avatar-icon-sm">
                    <img src="./../../assets/images/docter_color.png">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 p-0" *ngIf=" message.template == 'TEMPLATE_5' " [ngClass]="{'disabled-input': message.oldMessage}">
              <div class="row m-0">
                <div class="col-md-6">
                  <p class="d-none">To take some space</p>
                </div>
                <div class="col-md-5 p-0">
                  <div class="text-message">
                    <p>Please select doctor type</p>
                    <div class="message-input-group">
                      <select [(ngModel)]="message.answer" [disabled]="message.oldMessage">
                        <option hidden>select one</option>
                        <option>General Physician</option>
                        <option>Gynaecologist</option>
                        <option>Paediatrician</option>
                        <option>cardiologist</option>
                      </select>
                      <button (click)="!message.oldMessage && OnAnswerSelected(message)">SUBMIT</button>
                    </div>
                    <p class="text-message-time m-0">{{message.createdDate | chatTimeIndicator}}</p>
                  </div>
                </div>

                <div class="col-sm-1 col-xs-1 p-0">
                  <div class="avatar-icon-sm">
                    <img src="./../../assets/images/docter_color.png">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 p-0" *ngIf="message.template == 'TEMPLATE_6' " [ngClass]="{'disabled-input': message.oldMessage}">
              <div class="row m-0">
                <div class="col-md-6">
                  <p class="d-none">To take some space</p>
                </div>
                <div class="col-md-5 p-0">
                  <div class="text-message">
                    <p>Choose Package</p>
                    <div class="row package-container" *ngFor="let p of feePackages">
                      <div class="col-md-8">
                        {{p.name}} time at {{p.price}}
                      </div>
                      <div class="col-md-4 message-button-group" [ngClass]="{'selected-button':  message.selectedPackage?.id === p.id }">
                        <button class="btn-small" (click)="payConsultationFee(message,p)">Select</button>
                      </div>
                    </div>
                    <div id="paypal-checkout-btn" *ngIf="message.oldMessage != true "></div>
                    <p class="text-message-time m-0">{{message.createdDate | chatTimeIndicator}}</p>
                  </div>
                </div>

                <div class="col-sm-1 col-xs-1 p-0">
                  <div class="avatar-icon-sm">
                    <img src="./../../assets/images/docter_color.png">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 p-0" *ngIf=" message.template == 'TEMPLATE_7' ">
              <div class="row m-0">
                <div class="col-md-2">
                  <p class="d-none">To take some space</p>
                </div>
                <div class="col-md-9 p-0">
                  <div class="text-message whitespace-preline">{{message.actMessage | newlineHtml}}
                    <br />
                    <p class="text-message-time m-0">{{message.createdDate | chatTimeIndicator}}</p>
                  </div>
                </div>

                <div class="col-sm-1 col-xs-1 p-0">
                  <div class="avatar-icon-sm">
                    <img src="./../../assets/images/docter_color.png">
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-12 p-0" *ngIf=" message.template == 'TEMPLATE_8' ">

              <div class="row m-0">
                <div class="col-sm-1 col-xs-1 p-0">
                  <div class="avatar-icon-sm">
                    <img src="./../../assets/images/docter_color.png">
                  </div>
                </div>

                <div class="col-md-9 p-0">
                  <div class="text-message whitespace-preline">{{message.actMessage | newlineHtml}}
                    <br />
                    <p class="text-message-time m-0">{{message.createdDate | chatTimeIndicator}}</p>
                  </div>
                </div>
              </div>
            </div>







          </div>

        </div><!-- chat message main container :: END -->

        <!-- Reply Box -->
        <div class="row reply" *ngIf="showReplyBox">
          <div class="col-sm-11 col-xs-11 reply-main">
            <textarea class="form-control" rows="1" id="comment" [(ngModel)]="replyMessage" placeholder="Enter your message here"
              (keyup)="UserTypingMessage()" (keyup.enter)="OnSendReply($event)"></textarea>
          </div>
          <div class="col-sm-1 col-xs-1 reply-send">
            <i class="fa fa-send fa-2x" aria-hidden="true" (click)="OnSendReply($event)"></i>
          </div>
        </div>
        <!-- Reply Box End -->


      </div> <!-- chat windeow main container :: END -->





    </div>
    <!--Section two :: END-->

    <!--Section two :: started-->
    <div class="col-md-3 section-three color-white h-100 p-0 section">
      <div class="header-container">
        <p class="header-text">Details</p>
        <div class="color-white d-inline">
          <i class="fa fa-power-off fa-icon" aria-hidden="false" (click)="logOut()">&nbsp;LOGOUT</i>
        </div>
      </div>


    </div>
    <!--Section two :: END-->



  </div>

</div>
