.header-container{
    background: #24658E;
}
.header-text{
    display: inline-block;
    margin: 0px;
    padding: 6px;
}
.chat-window-container{
    margin: 0px;
    padding: 5px;
}
.color-white{
    color: white !important;
}
.section-one{
    background-color: white;
}
.section-two{
    background-color: rgb(236, 229, 219);
}
.section-three{
    background-color: white;
}
.section{
   border-left: 1px solid white;
}
.row-container{
    margin-bottom: 10px;
}
.fa-icon{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.content-row{
    min-height: 50px;
    border-bottom: 1px solid grey;
    /* margin: auto; */
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-row button{
    cursor: pointer;
    color: #78D7E5;
    background-color: white;
    border-color:#78D7E5;
    width: 95%;
}