.header-container {
  background: #24658E;
}

.header-text {
  display: inline-block;
  margin: 0px;
  padding: 6px;
}

.chat-window-container {
  margin: 0px;
  padding: 5px;
}

.color-white {
  color: white !important;
}

.section-one {
  background-color: white;
}

.section-two {
  background: #efe7dd url("./../../assets/images/whatapp-bg.jpg") repeat;
  z-index: 0;
}

.section-three {
  background-color: white;
}

.section {
  border-left: 1px solid #d4d1d1;
}

.row-container {
  margin-bottom: 10px;
}

.fa-icon {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.content-row {
  min-height: 50px;
  border-bottom: 1px solid #dad1d1;
  /* margin: auto; */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-row button {
  cursor: pointer;
  color: #78D7E5;
  background-color: white;
  border-color: #78D7E5;
  width: 95%;
}

.sideBar-body {
  position: relative;
  /* padding: 10px !important; */
  border-bottom: 1px solid #f7f7f7;
  min-height: 60px;
  margin: 0 !important;
  cursor: pointer;
}

.sideBar-body:hover {
  background-color: #f2f2f2;
}

.sideBar-avatar {
  /* text-align: center; */
  padding: 0 !important;
}

.avatar-icon {
  padding-top: 5px;
  padding-left: 5px;
}

.avatar-icon img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.sideBar-main {
  padding: 0 !important;
}

.sideBar-main .row {
  padding: 0 !important;
  margin: 0 !important;
}

.sideBar-name {
  /* padding: 10px !important; */
}

.sideBar-designation {
  color: black;
  font-size: 9px;
}

.sideBar-message {
  color: black;
  font-size: 10px;
}

.sideBar-message span {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sideBar-designation span {
  background-color: #ececec;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.name-meta {
  font-size: 14px;
  padding: 1% !important;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.sideBar-time {
  /* padding: 10px !important; */
}

.time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, .4);
  vertical-align: baseline;
}
