<div class="container-fluid chat-window-container h-100">

  <div class="row m-0 h-100 row-container">
    <!--Section one :: started-->
    <div class="col-md-3 section-one color-white h-100 p-0 section">

      <div class="header-container">
        <p class="header-text">My Consultaions</p>
        <i class="fa fa-bars fa-icon" aria-hidden="true"></i>
      </div>


      <div class="content-row button-container">
        <button>START A NEW CONSULTATION</button>
      </div>

      <div class="content-row profile-container">

        <div class="row sideBar-body">
          <div class="col-sm-1 col-xs-1 sideBar-avatar">
            <div class="avatar-icon">
              <img src="./../../assets/images/docter_color.png">
            </div>
          </div>
          <div class="col-sm-11 col-xs-11 sideBar-main">

            <div class="row">
              <div class="col-sm-8 col-xs-8 sideBar-name">
                <span class="name-meta">Ankit Jain
                </span>
              </div>
              <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                <span class="time-meta pull-right">18:18
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-xs-12 sideBar-designation">
                <span>General Physician</span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-xs-12 sideBar-message">
                <span>This is chat message between doctor and patient. You need to check this and do blah blah</span>
              </div>
            </div>

          </div>
        </div>


      </div>



    </div>
    <!--Section one :: END-->

    <!--Section two :: started-->
    <div class="col-md-6 section-two color-white h-100 p-0 section">
      <div class="header-container">
        <p class="header-text">Net Meds</p>
        <i class="fa fa-ellipsis-v fa-icon" aria-hidden="true"></i>
      </div>


    </div>
    <!--Section two :: END-->

    <!--Section two :: started-->
    <div class="col-md-3 section-three color-white h-100 p-0 section">
      <div class="header-container">
        <p class="header-text">Details</p>
      </div>


    </div>
    <!--Section two :: END-->



  </div>

</div>
