<div class="container-fluid chat-window-container h-100">

  <div class="row m-0 h-100 row-container">
    <!--Section one :: started-->
    <div class="col-md-3 section-one color-white h-100 p-0 section">
      <div class="header-container">
        <p>My Consultaions</p>
      </div>


    </div>
    <!--Section one :: END-->

    <!--Section two :: started-->
    <div class="col-md-6 section-two color-white h-100 p-0 section">
      <div class="header-container">
        <p>Net Meds</p>
      </div>


    </div>
    <!--Section two :: END-->

    <!--Section two :: started-->
    <div class="col-md-3 section-three color-white h-100 p-0 section">
        <div class="header-container">
          <p>Details</p>
        </div>
  
  
      </div>
      <!--Section two :: END-->
  


  </div>

</div>