<div class="container-fluid chat-window-container h-100">

  <div class="row m-0 h-100 row-container">
    <!--Section one :: started-->
    <div class="col-md-3 section-one color-white h-100 p-0 section">

      <div class="header-container">
        <p class="header-text">My Consultaions</p>
        <i class="fa fa-bars fa-icon" aria-hidden="true"></i>
      </div>

      <div class="">

        <div class="content-row button-container">
          <button>START A NEW CONSULTATION</button>
        </div>

      </div>


    </div>
    <!--Section one :: END-->

    <!--Section two :: started-->
    <div class="col-md-6 section-two color-white h-100 p-0 section">
      <div class="header-container">
        <p class="header-text">Net Meds</p>
        <i class="fa fa-ellipsis-v fa-icon" aria-hidden="true"></i>
      </div>


    </div>
    <!--Section two :: END-->

    <!--Section two :: started-->
    <div class="col-md-3 section-three color-white h-100 p-0 section">
      <div class="header-container">
        <p class="header-text">Details</p>
      </div>


    </div>
    <!--Section two :: END-->



  </div>

</div>